html, body {
  height: 100vh;
}

body {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.title {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 50px 230px;
  grid-template-columns: 250px;
  grid-gap: 5px;
  width: 250px;
  margin: 0 auto;
}

.top-area {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-board {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.wrapper > div {
  padding: 5px;
  background-color: lightblue;
}

.resolved-item {
  box-shadow: 3px 3px 3px 2px lightblue inset !important;
  font-size: 70%;
  text-align: center;
  color: gray;
  font-weight: 1000;
  pointer-events: none;
}

.number-panel {
  width: 62px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-panel > img {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 5px;
}

#panelCountFlag {
  font-size: 90%;
  color: black;
  position: absolute;
  right: 10px;
}

.reset-button {
  width: 40px;
  height: 40px;
  background-color: rgb(157, 199, 66);
  border: none;
  cursor: pointer;
  background-image: url("../img/smile.png");
  background-size: 40px 40px;
  box-shadow: 3px 3px 5px #adadad;
}

.reset-button:active {
  box-shadow: inset 3px 3px 6px #adadad;
}

.item {
  background-color: white;
  border: 1px solid rgb(237, 237, 248);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70%;
  height: 70%;
}

.landmine {
  background-image: url("../img/land-mine.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #05b2eb;
}

.landmine-with-flag {
  border: 2px solid #05b2eb;
}

.mine-clicked {
  border: 2px solid #d92602;
  border-style: inset;
}

.block-click {
  pointer-events: none;
}

.lose-game {
  background-image: url("../img/ken-serious.png");
  background-size: 40px 40px;
  border: 2px inset white;
}

#messageForUser {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 10px;
  text-align: center;
}
